{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    <center>
<img src="{% static 'images/item2.jpg' %}" height="300px" width="1100px">
    </center>
</div>
<div class="continer-fluid mt-4" style="margin-bottom:100px;">
    <h3 class="text-center fw-bold">Our Collections</h3>
    <p style="line-height:1.8;text-align:justify;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
</div>

<div class="container-fluid mt-5" style="margin-bottom:100px;">
    <div class="row">
        {% for i in c %}
        <div class="col-sm-4">
            <div class="card" style="width: 25rem" ;>
  <img src="{{i.image.url}}" class="card-img-top" height="250px" width="100%" alt="...">
  <div class="card-body">
    <h5 class="card-title ">{{i.name}}</h5>
    <p class="card-text ">{{i.desc}}</p>
      <a href="{% url 'shop:allproducts' i.name %}"  style="position:relative;left:30%;" class="btn btn-primary">PRODUCTS</a>
  </div>
</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}